.navbar {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: black; */
  /* z-index: 2; */
}

.logo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}

.navbar nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: opacity 0.25s ease;
}

.navbar nav a:hover {
  opacity: 0.6;
}
